.user-item {
  display: flex;
  width: 95vw;
  justify-content: space-between;
  background: azure;
  padding: 10px;
  .id {
    width: 50px;
  }
  div {
    display: flex;
    align-items: center;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}
